<style>
#logo {color:white;
background-color: blue;
display: inline-block;
font-size: 32px;
font-weight: bold;
padding: 8px;
margin-top:16px}
</style>
<style>
#logo-name {font-size: 28px; font-weight:bold; margin: 16px}
</style>
